<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="ISO-8859-1">
    <title>GameEx</title>

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">

</head>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" th:href="@{/}">GameEx</a>
        </div>
        <div id="navbar" lass="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/admin/}"> Admin</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li sec:authorize="isAuthenticated()"><a th:href="@{/gameindex}">Games</a></li>
            </ul>
            <!--            dodano-->
            <ul class="nav navbar-nav">
                <li sec:authorize="!isAuthenticated()"><a th:href="@{/gameindex}">Games</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li sec:authorize="isAuthenticated()"><a th:href="@{/userslist}">Game Renters</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li sec:authorize="!isAuthenticated()"><a th:href="@{/userslist}">Game Renters</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li sec:authorize="isAuthenticated()"><a th:href="@{/ad/}">Ad</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li sec:authorize="isAuthenticated()"><a th:href="@{/recenzija}">Player Reviews</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li sec:authorize="isAuthenticated()"><a th:href="@{/grupe}">Grupe</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li sec:authorize="!isAuthenticated()"><a th:href="@{/grupe}">Grupe</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li sec:authorize="!isAuthenticated()"><a th:href="@{/login}">Login</a></li>
            </ul>
        </div>
    </div>
</nav>
<br><br>
<br><br>
<body>
<div class="container" id="main">
    <div>
        Recenzija
    </div>
    <div>
        Komentar:
        <input type="text" v-model="komentar" placeholder="Napisi recenziju..."/>
    </div>
    <div>
        <select name="Amount" class="form-control" v-model="ocjena">
            <option value="1"> 1 </option>
            <option value="2"> 2 </option>
            <option value="3"> 3 </option>
            <option value="4"> 4 </option>
            <option value="5"> 5 </option>
        </select>
        <button v-on:click="submitRecenzija()">Spremi Recenziju</button>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<!-- Actual Vue.js script -->
<script>
    var app = new Vue({
        el: '#main',
        data() {
            return {
                currentUrl:"",
                splitUrl:[],
                userId: 0,
                recenzija: null,
                komentar: "",
                ocjena: 1,
                Currentuser: null,
                primiouser: null,
            }
        },
        methods : {
            initialization()
            {

            this.currentUrl=window.location.pathname;
            this.splitUrl=this.currentUrl.split('/');
            this.userId = this.splitUrl[3];
            this.newRecenzija();
            this.getLoggedInUser();
            this.getUser();

            },

            newRecenzija(){
                   axios
                        .get("/recenzije/createNewRecenzija")
                        .then(response => (this.recenzija = response.data));
            },
            getLoggedInUser(){
                axios
                    .get("/recenzije/createRecenzija/getCurrentUser")
                    .then(response => (this.Currentuser = response.data))
            },
            submitRecenzija(){
                this.recenzija.komentar = this.komentar;
                this.recenzija.ocjena = this.ocjena;
                this.recenzija.primiouser = this.primiouser;
                this.recenzija.napisaouser = this.Currentuser;
                       axios
                          .post("/recenzije/setRecenzija", this.recenzija)
                          .then(response => window.location.href="/recenzija/")
            },
            getUser(){
                axios
                    .get("/recenzije/getUser/"+this.splitUrl[3])
                    .then(response => (this.primiouser=response.data))

            }

        },
        created(){
               this.initialization();

        }

    })
</script>
</body>
</html>