<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="ISO-8859-1">
    <title>GameEx</title>

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">

</head>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" th:href="@{/}">GameEx</a>
        </div>
        <div id="navbar" lass="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/admin/}"> Admin</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li sec:authorize="isAuthenticated()"><a th:href="@{/gameindex}">Games</a></li>
            </ul>
            <!--            dodano-->
            <ul class="nav navbar-nav">
                <li sec:authorize="!isAuthenticated()"><a th:href="@{/gameindex}">Games</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li sec:authorize="isAuthenticated()"><a th:href="@{/userslist}">Game Renters</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li sec:authorize="!isAuthenticated()"><a th:href="@{/userslist}">Game Renters</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li sec:authorize="isAuthenticated()"><a th:href="@{/ad/}">Ad</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li sec:authorize="isAuthenticated()"><a th:href="@{/recenzija}">Player Reviews</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li sec:authorize="isAuthenticated()"><a th:href="@{/grupe}">Grupe</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li sec:authorize="!isAuthenticated()"><a th:href="@{/grupe}">Grupe</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li sec:authorize="!isAuthenticated()"><a th:href="@{/login}">Login</a></li>
            </ul>
        </div>
    </div>
</nav>
<br><br>
<br><br>
<body>
<div class="container" id="main">
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>Comment</th>
            <th>Grade</th>
            <th>From</th>
            <th>To</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="recenzija in recenzije">
            <td>{{ recenzija.komentar }}</td>
            <td>{{ recenzija.ocjena }}</td>
            <td>{{ recenzija.napisaouser.email }}</td>
            <td>{{ recenzija.primiouser.email }}</td>
            <td>
                <button v-on:click="removeRecenzija(recenzija.id)">Remove</button>
            </td>
        </tr>
        </tbody>
    </table>

</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<!-- Actual Vue.js script -->
<script>
    var app = new Vue({
        el: '#main',
        data() {
            return {
                currentUrl:"",
                splitUrl:[],
                recenzije: null,
                idUrl: ""
            }
        },
        methods : {
            initialization()
            {

            this.currentUrl=window.location.pathname;
            this.splitUrl=this.currentUrl.split('/');
            this.userId = this.splitUrl[3];
            this.getRecenzije();

            },
            recenzija: function(id) {
                    window.location.href = "/recenzija/user/" + id
            },
            getRecenzije(){
                axios
                    .get("/recenzije/getRecenzije")
                    .then(response => (this.recenzije = response.data))
            },
            removeRecenzija :function(id){
                this.idUrl = "/recenzije/deleteRecenzija/" + id;
                axios
                    .post(this.idUrl)
                    .then(response=> window.location.reload());
            },


        },
        created(){
               this.initialization();

        }

    })
</script>
</body>
</html>