<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="ISO-8859-1">
    <title>GameEx</title>

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">

</head>

<body>
<!-- create navigation bar ( header) -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" th:href="@{/}">GameEx</a>
        </div>
        <div id="navbar" lass="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/admin/}"> Admin</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li sec:authorize="isAuthenticated()"><a th:href="@{/gameindex}">Games</a></li>
            </ul>
            <!--            dodano-->
            <ul class="nav navbar-nav">
                <li sec:authorize="!isAuthenticated()"><a th:href="@{/gameindex}">Games</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li sec:authorize="isAuthenticated()"><a th:href="@{/userslist}">Game Renters</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li sec:authorize="!isAuthenticated()"><a th:href="@{/userslist}">Game Renters</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li sec:authorize="isAuthenticated()"><a th:href="@{/ad/}">Ad</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li sec:authorize="isAuthenticated()"><a th:href="@{/recenzija}">Player Reviews</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li sec:authorize="isAuthenticated()"><a th:href="@{/grupe}">Grupe</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li sec:authorize="!isAuthenticated()"><a th:href="@{/grupe}">Grupe</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li sec:authorize="!isAuthenticated()"><a th:href="@{/login}">Login</a></li>
            </ul>
        </div>
    </div>
</nav>
<br>
<br>
<br>
<br>
<ul>
    <li sec:authorize="isAuthenticated()"><a th:href="@{/myinventory}">My Inventory</a></li>
    <li><a th:href="@{/gamelist}">See The List Of All Games</a></li> <!--tu se mogu i dodat igrice u inventar-->
    <li sec:authorize="isAuthenticated()"><a th:href="@{/gamesuggest}">Suggest A New Game</a></li>
    <li sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_MODERATOR')"><a th:href="@{/gamesuggest/list}">Suggested Games List</a></li>
    <li sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_IGRAC')"><a th:href="@{/rentGamesPlayerOnly}">Rent A Game From a Player for free</a></li>
    <li sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_IGRAC')"><a th:href="@{/rentGamesCompanyOnly}">Rent A Game From Iznajmljivac for money</a></li>
</ul>
</body>
</html>