<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="ISO-8859-1">
    <title>GameEx</title>

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">

</head>

<body>
<!-- create navigation bar ( header) -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" th:href="@{/}">GameEx</a>
        </div>
        <div id="navbar" lass="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/admin/}"> Admin</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li sec:authorize="isAuthenticated()"><a th:href="@{/gameindex}">Games</a></li>
            </ul>
            <!--            dodano-->
            <ul class="nav navbar-nav">
                <li sec:authorize="!isAuthenticated()"><a th:href="@{/gameindex}">Games</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li sec:authorize="isAuthenticated()"><a th:href="@{/userslist}">Game Renters</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li sec:authorize="!isAuthenticated()"><a th:href="@{/userslist}">Game Renters</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li sec:authorize="isAuthenticated()"><a th:href="@{/ad/}">Ad</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li sec:authorize="isAuthenticated()"><a th:href="@{/recenzija}">Player Reviews</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li sec:authorize="isAuthenticated()"><a th:href="@{/grupe}">Grupe</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li sec:authorize="!isAuthenticated()"><a th:href="@{/grupe}">Grupe</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li sec:authorize="!isAuthenticated()"><a th:href="@{/login}">Login</a></li>
            </ul>
        </div>
    </div>
</nav>

<br>
<br>
<br>
<br>
<div class="container" id="main">

    <table class="table table-striped table-bordered">
        <thead>
        <tr>

            <th>Name</th>
            <th>Description</th>
            <th>Duration</th>
            <th>Number of Players</th>


        </tr>
        </thead>
        <tbody>
        <tr v-for="game in gamelist">

            <td>{{ game.name }}</td>
            <td>{{ game.description }}</td>
            <td>{{ game.duration }}</td>
            <td>{{ game.num_players }}</td>
            <td sec:authorize="hasAnyRole('ROLE_MODERATOR','ROLE_ADMIN')">
                <button v-on:click="newGame(game)">Approve game to be added</button>
            </td>
            <td sec:authorize="hasAnyRole('ROLE_MODERATOR','ROLE_ADMIN')">
                <button v-on:click="deleteSuggestedGame(game)">Remove game suggestion</button>
            </td>

        </tr>
        </tbody>
    </table>
    <button v-on:click="backToStart()">Back</button>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<!-- Actual Vue.js script -->
<script>
    var app = new Vue({
        el: '#main',
        data() {
            return {
                gamelist: null
            }
        },
        mounted(){
            axios
                .get("/gameindex/gamesuggestlist/getGames")
                .then(response => (this.gamelist = response.data))
        },
         methods :{

         backToStart(){
                    window.location.href ="/gameindex/";
         },

         newGame(game){
            axios
                .post("/gameindex/gamesuggestlist/setGame", game)
                .then(response => window.location.reload())
         },
         deleteSuggestedGame(game){
            axios
                .post("/gameindex/gamesuggestlist/removeGame", game)
                .then(response => window.location.reload())
         }

        }

    })
</script>
</body>
</html>