<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="ISO-8859-1">
    <title>GameEx</title>

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">

</head>

<body>
<!-- create navigation bar ( header) -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" th:href="@{/}">GameEx</a>
        </div>
        <div id="navbar" lass="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/admin/}"> Admin</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li sec:authorize="isAuthenticated()"><a th:href="@{/gameindex}">Games</a></li>
            </ul>
            <!--            dodano-->
            <ul class="nav navbar-nav">
                <li sec:authorize="!isAuthenticated()"><a th:href="@{/gameindex}">Games</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li sec:authorize="isAuthenticated()"><a th:href="@{/userslist}">Game Renters</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li sec:authorize="!isAuthenticated()"><a th:href="@{/userslist}">Game Renters</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li sec:authorize="isAuthenticated()"><a th:href="@{/ad/}">Ad</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li sec:authorize="isAuthenticated()"><a th:href="@{/recenzija}">Player Reviews</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li sec:authorize="isAuthenticated()"><a th:href="@{/grupe}">Grupe</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li sec:authorize="!isAuthenticated()"><a th:href="@{/grupe}">Grupe</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li sec:authorize="!isAuthenticated()"><a th:href="@{/login}">Login</a></li>
            </ul>
        </div>
    </div>
</nav>

<br>
<br>
<br>
<br>
<div class="container" id="main">

    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>Game Name</th>
            <th>Description</th>
            <th>Rented</th>
            <th>Marked for renting</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="game in inventory">
            <td>{{ game.gameId.name }}</td>
            <td>{{ game.gameId.description }}</td>
            <td>{{game.posudena}}</td>
            <td>{{game.zaIznajmljivanje}}</td>
            <td>
                <button v-on:click="putForRent(game.gameId)" v-if="!game.zaIznajmljivanje && !game.posudena">Put for renting</button>
                <button v-on:click="removeFromRenting(game.gameId)" v-if="game.zaIznajmljivanje">Remove from renting</button>
                <button v-on:click="deleteGame(game.gameId)">Remove from inventory</button>
            </td>

        </tr>
        </tbody>
    </table>
    <input sec:authorize="hasRole('ROLE_IZNAJMLJIVAC')" v-model="price" type="number" step="0.1">
    <br>
    <button v-on:click="backToStart()">Back</button>
    <button v-on:click="addToInventory()">Add a game to your inventory if u own it</button>

</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<!-- Actual Vue.js script -->
<script>
var app = new Vue({
        el: '#main',
        data() {
            return {
                inventory: null,
                price: "0"
            }
        },
        methods : {
               async initialization(){
            	   await this.getUsersInventory();
               },
               addToInventory(){
                        window.location.href ="gameindex/myinventory/addGame";

               },
               getUsersInventory(){
            	   axios
                    .get("/gameindex/inventory/getUsersInventory")
                    .then(response => (this.inventory = response.data));
               },
               removeFromRenting(game){
               this.game = game;

            	 axios
            	 	.post("/gameindex/myinventory/removeFromRenting", game);

               },
               putForRent(game){
            	 this.game = game;

            	 axios
            	 	.post("/gameindex/myinventory/setForRent", game, { params: this.price})
            	 	.then(response => window.location.reload());
               },
               deleteGame(game){
                    axios
                        .post("/gameindex/myinventory/removeGame",game)
                        .then(response=>window.location.reload())
               },
               backToStart(){
                    window.location.href ="/gameindex/";
               }

        },
        created(){
               this.initialization();
        }
    })
</script>
</body>

</body>
</html>