<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>GameEx</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
</head>
<body>
<div class="container my-5">

    <div class="col col-md-8">
        <div class="alert alert-light">
            <p th:if="${message}" th:text="${message}">MESSAGE</p>
            <a th:href="@{/login}" class="btn btn-info">Login</a>
        </div>
    </div>
</div>
</body>
</html>