<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="ISO-8859-1">
    <title>GameEx</title>

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">

</head>
<body>
<!-- create navigation bar ( header) -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" th:href="@{/}">GameEx</a>
        </div>
        <div id="navbar" lass="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/admin/}"> Admin</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li sec:authorize="isAuthenticated()"><a th:href="@{/gameindex}">Games</a></li>
            </ul>
            <!--            dodano-->
            <ul class="nav navbar-nav">
                <li sec:authorize="!isAuthenticated()"><a th:href="@{/gameindex}">Games</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li sec:authorize="isAuthenticated()"><a th:href="@{/userslist}">Game Renters</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li sec:authorize="!isAuthenticated()"><a th:href="@{/userslist}">Game Renters</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li sec:authorize="isAuthenticated()"><a th:href="@{/ad/}">Ad</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li sec:authorize="isAuthenticated()"><a th:href="@{/recenzija}">Player Reviews</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li sec:authorize="isAuthenticated()"><a th:href="@{/grupe}">Grupe</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li sec:authorize="isAuthenticated()"><a th:href="@{/profile}">Profile</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li sec:authorize="!isAuthenticated()"><a th:href="@{/login}">Login</a></li>
            </ul>
        </div>
    </div>
</nav>

<br><br>
<br><br>
<div class="container" id="main">
    <h1>Welcome to GameEx</h1>
    <div sec:authorize="isAuthenticated()">
        Welcome <span sec:authentication="principal.username"> User</span>
        <div>
            <img sec:authorize=hasAnyRole('ROLE_IGRAC','ROLE_IZNAJMLJIVAC','ROLE_MODERATOR') v-bind:src="this.pathPicture" width="300" height="300"/>
        </div>
    </div>
    <div sec:authorize="!isAuthenticated()">
        Welcome <span> Guest</span>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<!-- Actual Vue.js script -->
<script>
    var app = new Vue({
        el: '#main',
        data() {
            return {
                currentuser: null,
                pathPicture:null,
            }
        },
        methods : {
            initialization()
            {
                this.getLoggedInUser();
                this.getPicturePath();

            },
           getLoggedInUser(){
                 axios
                    .get("/recenzije/createRecenzija/getCurrentUser")
                    .then(response => (this.currentuser = response.data))
            },
            getPicturePath(){
                axios
                    .get("/userslist/getPicturePath/")
                    .then(response=>(this.pathPicture=response.data))
            }

        },
        created(){
               this.initialization();

        }

    })
</script>

</body>