<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">

    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" th:href="@{/}">GameEx</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li sec:authorize="hasRole('ADMIN')"><a th:href="@{/admin/users}"> Users</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li sec:authorize="hasRole('ADMIN')"><a th:href="@{/admin/roles}"> Roles</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
            </ul>

        </div>
    </div>
</nav>

<br><br>
<br><br>

<div class="container" id="main">

    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Active</th>
            <th>Iznajmljivac</th>
            <th>Moderator</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="user in users">
            <td>{{ user.firstName }}</td>
            <td>{{ user.lastName  }}</td>
            <td>{{ user.email     }}</td>
            <td>{{ user.enabled}} </td>
            <td>{{ user.iznajmljivac}} </td>
            <td>{{ user.moderator}} </td>
            <td>
                <button v-on:click="editUser(user.id)">Edit</button>
                <button v-on:click="setIznajmljivac(user)">Iznamljivac Enable/Disable</button>
                <button v-on:click="setModerator(user)">Moderator Enable/Disable</button>
            </td>
        </tr>
        </tbody>
    </table>
    <button v-on:click="backToStart()">Back</button>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<!-- Actual Vue.js script -->
<script>
    var app = new Vue({
        el: '#main',
        data() {
            return {
                users: null
            }
        },
        mounted(){
            axios
                .get("/admin/users/getUsers")
                .then(response => (this.users = response.data))
        },
        methods :{

         backToStart(){
                    window.location.href ="/admin/";
         },
         editUser: function(id) {
                window.location.href = '/admin/users/edit/'+ id;
            },
         setIznajmljivac: function(user) {
                axios
                    .post("/admin/users/setIznajmljivac", user)
                    .then(response => window.location.reload())

         },
         setModerator: function(user) {
                axios
                    .post("/admin/users/setModerator", user)
                    .then(response => window.location.reload())
         }

       }
    })
</script>
</body>
</html>