<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">

    <meta charset="UTF-8">
    <title>Users</title>
</head>

<body>
<!-- create navigation bar ( header) -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" th:href="@{/}">GameEx</a>
        </div>
        <div id="navbar" lass="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/admin/}"> Admin</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li sec:authorize="isAuthenticated()"><a th:href="@{/gameindex}">Games</a></li>
            </ul>
            <!--            dodano-->
            <ul class="nav navbar-nav">
                <li sec:authorize="!isAuthenticated()"><a th:href="@{/gameindex}">Games</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li sec:authorize="isAuthenticated()"><a th:href="@{/userslist}">Game Renters</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li sec:authorize="!isAuthenticated()"><a th:href="@{/userslist}">Game Renters</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li sec:authorize="isAuthenticated()"><a th:href="@{/ad/}">Ad</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li sec:authorize="isAuthenticated()"><a th:href="@{/recenzija}">Player Reviews</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li sec:authorize="isAuthenticated()"><a th:href="@{/grupe}">Grupe</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li sec:authorize="!isAuthenticated()"><a th:href="@{/grupe}">Grupe</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li sec:authorize="!isAuthenticated()"><a th:href="@{/login}">Login</a></li>
            </ul>
        </div>
    </div>
</nav>


<br><br>
<br><br>
<div class="container" id="main">
    <div>
        Select a user to invite:
        <select name="users" class="form-control" v-model="invitation.user_id">
            <option v-for="user in users" :value="user.id" v-if="!user.iznajmljivac">
                {{ user.email }}
            </option>
        </select>
    </div>
    <div>
        Description:
        <textarea v-model="invitation.description"></textarea>
    </div>
    <button v-on:click="inviteUser()">Invite Selected User</button>
    <button v-on:click="backToStart()">Back</button>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<!-- Actual Vue.js script -->
<script>
    var app = new Vue({
        el: '#main',
        data() {
            return {
                users: null,
                invitation: null,
                currentUrl:"",
                splitUrl:[],
                currentUser:null,
            }
        },
        methods :{

         backToStart(){
                    window.location.href ="/grupe/grupaUsers/"+this.splitUrl[2];
         },
         initialization(){
                this.currentUrl=window.location.pathname;
                this.splitUrl=this.currentUrl.split('/');
                this.getLoggedInUser();
                this.getUsers();
                this.getEmptyInvitation();
         },
         getLoggedInUser(){
                axios
                    .get("/recenzije/createRecenzija/getCurrentUser")
                    .then(response => (this.currentUser = response.data))
         },
         getUsers(){
               axios
                .get("/Invitation/getAllUsersExceptForGroup/"+this.splitUrl[2])
                .then(response => (this.users = response.data))
         },
         inviteUser(){
                this.invitation.grupa_id=this.splitUrl[2];
                axios
                    .post("/Invitation/createInvitation/",this.invitation)
                    .then(response=> window.location.href="/grupe/grupaUsers/"+this.splitUrl[2]);
         },
         getEmptyInvitation(){
                axios
                    .get("/Invitation/getEmptyInvitation")
                    .then(response=> (this.invitation=response.data));

         },

       },
       created(){
                this.initialization();
         }
    })
</script>
</body>
</html>