<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="ISO-8859-1">
    <title>GameEx</title>

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">

</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" th:href="@{/}">GameEx</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li sec:authorize="hasRole('ADMIN')"><a th:href="@{/admin/users}"> Users</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li sec:authorize="hasRole('ADMIN')"><a th:href="@{/admin/roles}"> Roles</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
            </ul>

        </div>
    </div>
</nav>
<br><br>
<br><br>
<div class="container" id="role">
    <div>
        Name:
        <input type="text" v-model="role.name" />
    </div>
    <button v-on:click="submitRole()">Save</button>
    <button v-on:click="deleteRole()">Delete</button>
    <button v-on:click="backToStart()">Back</button>

</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<!-- Actual Vue.js script -->
<script>
    var app = new Vue({
        el: '#role',
        data() {
            return {
                role: null,
                currentUrl:"",
                splitUrl:[]
            }
        },
        methods : {
               initialization(){
                    this.currentUrl=window.location.pathname;
                    this.splitUrl=this.currentUrl.split('/');
                    this.getRole();
               },
               getRole(){
                    axios
                        .get("/admin/roles/getRole/"+this.splitUrl[4])
                        .then(response => (this.role = response.data))
               },
               submitRole(){

                     axios
                        .post("/admin/roles/setRole", this.role)
                        .then(response => window.location.href="/admin/roles/")

               },
               deleteRole(){
                     axios
                       .post("/admin/roles/deleteRole", this.role)
                       .then(response => window.location.href="/admin/roles/")

               },
               backToStart(){
                    window.location.href ="/admin/roles/";
               }


        },
        created(){
               this.initialization();

        }
    })
</script>
</body>
</html>