<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">

    <meta charset="UTF-8">
    <title>Roles</title>

</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" th:href="@{/}">GameEx</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li sec:authorize="hasRole('ADMIN')"><a th:href="@{/admin/users}"> Users</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li sec:authorize="hasRole('ADMIN')"><a th:href="@{/admin/roles}"> Roles</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
            </ul>

        </div>
    </div>
</nav>
<br><br>
<br><br>
<div class="container" id="main">

    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>Role ID</th>
            <th>Role Name</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="role in roles">
            <td>{{ role.id }}</td>
            <td>{{ role.name }}</td>
            <td>
                <button v-on:click="editRole(role.id)">Edit</button>
            </td>
        </tr>
        </tbody>
    </table>
    <button v-on:click="backToStart()">Back</button>
    <button v-on:click="CreateRole()">Create New Role</button>
</div>

<!--<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>-->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
<!-- Actual Vue.js script -->
<script>
Vue.config.devtools = false;
    var app = new Vue({
        el: '#main',
        data() {
            return {
                roles: null
            }
        },
        mounted(){
            axios
                .get("/admin/roles/getroles")
                .then(response => (this.roles = response.data))
        },
        methods : {
            editRole: function(id) {
                window.location.href = '/admin/roles/edit/'+ id;
            },
             backToStart(){
                    window.location.href ="/admin/";
               },
             CreateRole(){
                    window.location.href="/admin/roles/create";
             },
        }
    })
</script>
</body>

</html>