<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="ISO-8859-1">
    <title>GameEx</title>

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">

</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" th:href="@{/}">GameEx</a>
        </div>
        <div id="navbar" lass="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/admin/}"> Admin</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li sec:authorize="isAuthenticated()"><a th:href="@{/gameindex}">Games</a></li>
            </ul>
            <!--            dodano-->
            <ul class="nav navbar-nav">
                <li sec:authorize="!isAuthenticated()"><a th:href="@{/gameindex}">Games</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li sec:authorize="isAuthenticated()"><a th:href="@{/userslist}">Game Renters</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li sec:authorize="!isAuthenticated()"><a th:href="@{/userslist}">Game Renters</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li sec:authorize="isAuthenticated()"><a th:href="@{/ad/}">Ad</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li sec:authorize="isAuthenticated()"><a th:href="@{/recenzija}">Player Reviews</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li sec:authorize="isAuthenticated()"><a th:href="@{/grupe}">Grupe</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li sec:authorize="!isAuthenticated()"><a th:href="@{/grupe}">Grupe</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li sec:authorize="!isAuthenticated()"><a th:href="@{/login}">Login</a></li>
            </ul>
        </div>
    </div>
</nav>
<br><br>
<br><br>
<div class="container" id="main">
    Profile Picture:
    <div>
        <img sec:authorize=hasAnyRole('ROLE_IGRAC','ROLE_IZNAJMLJIVAC','ROLE_MODERATOR') v-bind:src="this.pathPicture" width="300" height="300"/>
    </div>
    <div>
        First name:
        <input type="text" v-model="user.firstName" />
    </div>
    <div>
        Last name:
        <input type="text" v-model="user.lastName" />
    </div>
    <div>
        Email:
        {{user.email}}
    </div>
    <div v-if="user.isIznajmljivac">
        Telephone:
        <input type="text" v-model="user.telephone" />
    </div>
    <div v-if="user.iznajmljivac">
        CompanyName
        <input type="text" v-model="user.companyName" />
    </div>
    <div v-if="user.iznajmljivac">
        Web Address:
        <input type="text" v-model="user.webAddress" />
    </div>
    <div v-if="user.iznajmljivac">
        Address:
        <input type="text" v-model="user.address" />
    </div>

    <button v-on:click="submitUser()">Save</button>
    <button v-on:click="deleteUser()">Delete Your User Account</button>
    <button v-on:click="backToStart()">Back</button>

</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<!-- Actual Vue.js script -->
<script>
    var app = new Vue({
        el: '#main',
        data() {
            return {
                user: null,
                pathPicture:null
            }
        },
        methods : {
            initialization()
            {
                this.getLoggedInUser();
                this.getPicturePath();
            },
           getLoggedInUser(){
                 axios
                    .get("/recenzije/createRecenzija/getCurrentUser")
                    .then(response => (this.user = response.data))
            },
             submitUser(){

                     axios
                        .post("/profile/setUser", this.user)
                        .then(response => window.location.reload())

               },
               getPicturePath(){
                axios
                    .get("/userslist/getPicturePath/")
                    .then(response=>(this.pathPicture=response.data))
            },
               backToStart(){
                    window.location.href ="/";
               },
               deleteUser: function(){
                 axios
                     .post("/profile/deleteUser/",this.user)
                     .then(response => window.location.href="/logout")
                },
        },
        created(){
               this.initialization();

        }

    })
</script>
</body>
</html>