<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="ISO-8859-1">
    <title>GameEx</title>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="//unpkg.com/vue2-leaflet"></script>

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">

    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />

</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" th:href="@{/}">GameEx</a>
        </div>
        <div id="navbar" lass="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/admin/}"> Admin</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li sec:authorize="isAuthenticated()"><a th:href="@{/gameindex}">Games</a></li>
            </ul>
            <!--            dodano-->
            <ul class="nav navbar-nav">
                <li sec:authorize="!isAuthenticated()"><a th:href="@{/gameindex}">Games</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li sec:authorize="isAuthenticated()"><a th:href="@{/userslist}">Game Renters</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li sec:authorize="!isAuthenticated()"><a th:href="@{/userslist}">Game Renters</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li sec:authorize="isAuthenticated()"><a th:href="@{/ad/}">Ad</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li sec:authorize="isAuthenticated()"><a th:href="@{/recenzija}">Player Reviews</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li sec:authorize="isAuthenticated()"><a th:href="@{/grupe}">Grupe</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li sec:authorize="!isAuthenticated()"><a th:href="@{/grupe}">Grupe</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li sec:authorize="!isAuthenticated()"><a th:href="@{/login}">Login</a></li>
            </ul>
        </div>
    </div>
</nav>
<br><br>
<br><br>
<div class="container" id="group">

    <div>
        Name:
        <input type="text" v-model="groupName" placeholder="Enter group name">
        <div>
            Select a game from inventory:
            <select name="Inventory" class="form-control" v-model="group.game_name">
                <option v-for="game in inventory" :value="game.name">
                    {{ game.name }}
                </option>
            </select>
        </div>
        <div>
            Do you want to add users to your group?
            <input type="checkbox" v-model="addUsers">
            <select v-if="addUsers" name="Amount" class="form-control" v-model="selectedNumber">
                <option value="1"> 1 </option>
                <option value="2"> 2 </option>
                <option value="3"> 3 </option>
                <option value="4"> 4 </option>
                <option value="5"> 5 </option>
            </select>
        </div>


        <div v-if="selectedNumber!=0">
            Add other users:
            <select name="Users" class="form-control" v-model="selectedUser1">
                <option v-for="user in users" :value="user" v-if="!user.iznajmljivac">
                    {{user.email}}
                </option>
            </select>
        </div>
        <div v-if="selectedNumber>=2">
            Add other users:
            <select name="Users" class="form-control" v-model="selectedUser2">
                <option v-for="user in users" :value="user" v-if="!user.iznajmljivac">
                    {{user.email}}
                </option>
            </select>
        </div>
        <div v-if="selectedNumber>=3">
            Add other users:
            <select name="Users" class="form-control" v-model="selectedUser3">
                <option v-for="user in users" :value="user" v-if="!user.iznajmljivac">
                    {{user.email}}
                </option>
            </select>
        </div>
        <div v-if="selectedNumber>=4">
            Add other users:
            <select name="Users" class="form-control" v-model="selectedUser4">
                <option v-for="user in users" :value="user" v-if="!user.iznajmljivac">
                    {{user.email}}
                </option>
            </select>
        </div>
        <div v-if="selectedNumber==5">
            Add other users:
            <select name="Users" class="form-control" v-model="selectedUser5">
                <option v-for="user in users" :value="user" v-if="!user.iznajmljivac">
                    {{user.email}}
                </option>
            </select>
        </div>
        <button v-on:click="submitGrupa()">Create</button>
        <button v-on:click="backToStart()">Back</button>
    </div>
</div>






<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<!-- Actual Vue.js script -->

<script>
    var app = new Vue({
        el: '#group',
        data() {
            return {
                users:null,
                selectedNumber: 0,
                selectedUser1: null,
                selectedUser2: null,
                selectedUser3: null,
                selectedUser4: null,
                selectedUser5: null,
                addUsers: false,
            	group: null,
            	groupName: '',
            	username:'',
            	user: null,
            	isName: false,
            	addedUsers: [],
            	inventory: null,
            }
        },
        methods : {
               initialization(){
                   this.getUsers();
            	   this.getGroup();
            	   this.getCurrentUser();
            	   this.getInventory();
               },

               getInventory(){
                    axios
                        .get("/grupe/getInventory")
                        .then(response=>(this.inventory=response.data))
               },
               getUsers() {
                    axios
                        .get("/grupe/getUsers")
                        .then(response => (this.users = response.data))
               },
               getUser(){
            	    axios
                        .get("/grupe/getAuthUser/" + this.username)
                        .then(response => (this.user = response.data))
               },
               getUsers(){
                    axios
                        .get("/grupe/getUsers")
                        .then(response => (this.users = response.data))
               },

               getGroup(){
            	    axios
          	   		    .get("/grupe/create/getNewGrupa")
          	   		    .then(response => (this.group = response.data));

               },
               backToStart(){
                    window.location.href ="/grupe/";
               },
               submitGrupa(){

                    if(this.groupName == "" || this.group.game_name == null) {
                        if (this.groupName == "") {
            	            alert("Please enter group name.");
            	        } else if (this.group.game_name == null) {
            	            alert("Please pick a game you want to play.");
            	        }
            	    } else {
            	        this.group.name = this.groupName;
            	        this.group.groupAdminId = this.user.id;
            	        this.addUsersBeforeSubmit();

                        if(!this.addUsers){
                                axios
                                    .post("/grupe/create/createNewGrupa", this.group)
                                    .then(response => window.location.href ="/grupe/")
                        } else {
                                this.group.users=this.addedUsers;
                                axios
                                    .post("/grupe/create/createNewGrupaWithUsers", this.group)
                                    .then(response => window.location.href ="/grupe/")
                        }
                   }


               },
               addUsersBeforeSubmit(){
                if(this.selectedNumber==1){
                           console.log("usao1");
                           this.addedUsers.push(this.selectedUser1);

                    }
                    if(this.selectedNumber==2){
                            console.log("usao2");
                           this.addedUsers.push(this.selectedUser1);
                           this.addedUsers.push(this.selectedUser2);
                    }
                    if(this.selectedNumber==3){
                           this.addedUsers.push(this.selectedUser1);
                           this.addedUsers.push(this.selectedUser2);
                           this.addedUsers.push(this.selectedUser3);
                    }
                    if(this.selectedNumber==4){
                           this.addedUsers.push(this.selectedUser1);
                           this.addedUsers.push(this.selectedUser2);
                           this.addedUsers.push(this.selectedUser3);
                           this.addedUsers.push(this.selectedUser4);
                    }
                     if(this.selectedNumber==5){
                           this.addedUsers.push(this.selectedUser1);
                           this.addedUsers.push(this.selectedUser2);
                           this.addedUsers.push(this.selectedUser3);
                           this.addedUsers.push(this.selectedUser4);
                           this.addedUsers.push(this.selectedUser5);
                     }
               },
               getCurrentUser(){
            	    axios
            	        .get("/grupe/create/getCurrentUser")
            	        .then(response => (this.user = response.data))
               },
        },
        created(){
               this.initialization();
        }
    })


</script>


</body>
</html>