<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="ISO-8859-1">
    <title>GameEx</title>

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">

</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" th:href="@{/}">GameEx</a>
        </div>
        <div id="navbar" lass="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/admin/}"> Admin</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li sec:authorize="isAuthenticated()"><a th:href="@{/gameindex}">Games</a></li>
            </ul>
            <!--            dodano-->
            <ul class="nav navbar-nav">
                <li sec:authorize="!isAuthenticated()"><a th:href="@{/gameindex}">Games</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li sec:authorize="isAuthenticated()"><a th:href="@{/userslist}">Game Renters</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li sec:authorize="!isAuthenticated()"><a th:href="@{/userslist}">Game Renters</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li sec:authorize="isAuthenticated()"><a th:href="@{/ad/}">Ad</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li sec:authorize="isAuthenticated()"><a th:href="@{/recenzija}">Player Reviews</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li sec:authorize="isAuthenticated()"><a th:href="@{/grupe}">Grupe</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li sec:authorize="!isAuthenticated()"><a th:href="@{/grupe}">Grupe</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li sec:authorize="!isAuthenticated()"><a th:href="@{/login}">Login</a></li>
            </ul>
        </div>
    </div>
</nav>
<br><br>
<br><br>
<div class="container" id="main">
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>User ID</th>
            <th>User Name</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="user in users">
            <td>{{ user.id }}</td>
            <td>{{ user.email }}</td>
            <td v-if="user.id != currentuser.id">
                <button v-on:click="recenzija(user.id)">Napisi recenziju</button>
                <button v-on:click="removeFromGroup(user)" v-if="grupa.groupAdminId==currentuser.id">Remove player from group</button>
                <!-- <th v-if="user.id == grupe.groupAdminId">Admin</th> -->
            </td>
        </tr>
        </tbody>
    </table>
    <button v-on:click="backToStart()" >Back</button>
    <div v-if="grupa.groupAdminId==currentuser.id">
        <button v-on:click="inviteUserToGroup()" >Invite a User to this group</button>
    </div>



</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<!-- Actual Vue.js script -->
<script>
    var app = new Vue({
        el: '#main',
        data() {
            return {
                users: null,
                currentUrl:"",
                splitUrl:[],
                currentuser: null,
                grupa: null

            }
        },
        methods : {
            initialization()
            {

            this.currentUrl=window.location.pathname;
            this.splitUrl=this.currentUrl.split('/');
            this.getGrupa();
            this.getLoggedInUser();
            this.getcurrentGrupa();

            },
            getGrupa(){
                    axios
                        .get("/grupe/grupaUserss/"+this.splitUrl[3])
                        .then(response => (this.users = response.data));
            },
            recenzija: function(id) {
                    window.location.href = "/createRecenzija/user/" + id
            },
           async getLoggedInUser(){
                await axios
                    .get("/recenzije/createRecenzija/getCurrentUser")
                    .then(response => (this.currentuser = response.data))
            },
            inviteUserToGroup(){
                  window.location.href="/createInvitation/"+this.splitUrl[3];
            },
            async getcurrentGrupa(){
                await axios
                    .get("/grupe/getGrupa/"+this.splitUrl[3])
                    .then(response => this.grupa=response.data);
            },
            removeFromGroup(user){
                    axios
                        .post("/grupe/removePlayerFromGroup/"+this.splitUrl[3],user)
                        .then(response=>window.location.reload())
            },
            backToStart(){
                window.location.href="/grupe/inGrupa"
            },



        },
        created(){
               this.initialization();

        }

    })
</script>
</body>
</html>