<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">

    <meta charset="UTF-8">
    <title>Grupe</title>

</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" th:href="@{/}">GameEx</a>
        </div>
        <div id="navbar" lass="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/admin/}"> Admin</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li sec:authorize="isAuthenticated()"><a th:href="@{/gameindex}">Games</a></li>
            </ul>
            <!--            dodano-->
            <ul class="nav navbar-nav">
                <li sec:authorize="!isAuthenticated()"><a th:href="@{/gameindex}">Games</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li sec:authorize="isAuthenticated()"><a th:href="@{/userslist}">Game Renters</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li sec:authorize="!isAuthenticated()"><a th:href="@{/userslist}">Game Renters</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li sec:authorize="isAuthenticated()"><a th:href="@{/ad/}">Ad</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li sec:authorize="isAuthenticated()"><a th:href="@{/recenzija}">Player Reviews</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li sec:authorize="isAuthenticated()"><a th:href="@{/grupe}">Grupe</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li sec:authorize="!isAuthenticated()"><a th:href="@{/grupe}">Grupe</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li sec:authorize="!isAuthenticated()"><a th:href="@{/login}">Login</a></li>
            </ul>
        </div>
    </div>
</nav>
<br><br>
<br><br>
<div class="container" id="main">

    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>Grupa ID</th>
            <th>Grupa Name</th>
            <th>Grupa Playing Date</th>
            <th>Grupa Game</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="grupa in grupe">
            <td>{{ grupa.id }}</td>
            <td>{{ grupa.name }}</td>
            <td>{{ grupa.dateSuggestion }}</td>
            <td>{{grupa.game_name}}</td>
            <td>
                <button v-if="grupa.groupAdminId == user.id" v-on:click="dateSuggestion(grupa.id)">Suggest Playing Date</button>
                <button sec:authorize="hasRole('ROLE_ADMIN')" v-on:click="deleteGroup(grupa)">Delete this group</button>
            </td>
        </tr>
        </tbody>
    </table>
    <button v-on:click="backToStart()">Back</button>
    <button sec:authorize="isAuthenticated()" v-on:click="CreateGrupa()">Create New Grupa</button>
    <button sec:authorize="isAuthenticated()" v-on:click="inGrupa()">In Grupa</button>
    <button sec:authorize="hasRole('ROLE_MODERATOR')" v-on:click="allGrupe()">Check All</button>
    <button sec:authorize="isAuthenticated()" v-on:click="myInvitations()">My Group Invitations</button>

</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<!-- Actual Vue.js script -->
<script>
    var app = new Vue({
        el: '#main',
        data() {
            return {
                grupe: null,
                user: null
            }
        },
        mounted(){
            axios
                .get("/grupe/getGrupe")
                .then(response => (this.grupe = response.data))
        },
        methods : {
             initialization() {
                this.getUser()
            },
            editRole: function(id) {
                window.location.href = '/grupe/edit/'+ id;
            },
             backToStart(){
                    window.location.href ="/";
               },
             CreateGrupa(){
                    window.location.href="/grupe/createGrupa";
             },
             inGrupa(){
                    window.location.href="/grupe/inGrupa";
             },
             allGrupe(){
            	 window.location.href="/grupe/allGrupe";
             },

             dateSuggestion(id){
            	 window.location.href= '/grupe/' + id + '/dateSuggestion/';
             },
             myInvitations(){
                 window.location.href="/myInvitations";
             },
             deleteGroup(grupa){
                axios
                    .post("/grupe/deleteGroup",grupa)
                    .then(response=>window.location.reload())
            },

             getUser() {
                    axios
                       .get("/grupe/create/getCurrentUser")
                       .then(response => (this.user = response.data))
             }
        },
        created(){
               this.initialization();
        }
    })
</script>
</body>

</html>