<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">

    <meta charset="UTF-8">
    <title>Grupe</title>

</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" th:href="@{/}">GameEx</a>
        </div>
        <div id="navbar" lass="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/admin/}"> Admin</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li sec:authorize="isAuthenticated()"><a th:href="@{/gameindex}">Games</a></li>
            </ul>
            <!--            dodano-->
            <ul class="nav navbar-nav">
                <li sec:authorize="!isAuthenticated()"><a th:href="@{/gameindex}">Games</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li sec:authorize="isAuthenticated()"><a th:href="@{/userslist}">Game Renters</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li sec:authorize="!isAuthenticated()"><a th:href="@{/userslist}">Game Renters</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li sec:authorize="isAuthenticated()"><a th:href="@{/ad/}">Ad</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li sec:authorize="isAuthenticated()"><a th:href="@{/recenzija}">Player Reviews</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li sec:authorize="isAuthenticated()"><a th:href="@{/grupe}">Grupe</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li sec:authorize="!isAuthenticated()"><a th:href="@{/grupe}">Grupe</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li sec:authorize="!isAuthenticated()"><a th:href="@{/login}">Login</a></li>
            </ul>
        </div>
    </div>
</nav>
<br><br>
<br><br>
<div class="container" id="main">

    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>Grupa ID</th>
            <th>Grupa Name</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="grupa in grupe">
            <td>{{ grupa.id }}</td>
            <td>{{ grupa.name }}</td>
            <td>
                <button sec:authorize="isAuthenticated()" v-on:click="grupaUsers(grupa.id)">Grupa Users</button>
                <button sec:authorize="isAuthenticated()" v-on:click="grupaForum(grupa.id)">Grupa Forum</button>
                <button sec:authorize="isAuthenticated()" v-if="grupa.groupAdminId==currentUser.id" v-on:click="deleteGroup(grupa)">Delete your Group</button>
                <button sec:authorize="isAuthenticated()" v-on:click="exitGroup(grupa)">Leave this group</button>
                <button sec:authorize="hasRole('ROLE_ADMIN')" v-on:click="deleteGroup(grupa)">Delete this Group</button>
            </td>
        </tr>
        </tbody>
    </table>
    <button v-on:click="backToGrupe()">Back</button>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<!-- Actual Vue.js script -->
<script>
    var app = new Vue({
        el: '#main',
        data() {
            return {
                grupe: null,
                users: null,
                index: 0,
                currentUser:null
            }
        },
        mounted(){
            axios
                .get("/grupe/inGrupa/getGrupe")
                .then(response => (this.grupe = response.data))
        },
        methods : {
            initialization() {
                this.getUser();
                this.getLoggedInUser();
            },
            grupaUsers: function(id) {
                window.location.href = '/grupe/grupaUsers/'+ id;
            },
            backToGrupe(){
                window.location.href ="/grupe";
            },
            getUser(){
                axios
                    .get("/grupe/getUsers")
                    .then(response => (this.users = response.data))
            },
            grupaForum: function(id) {
                window.location.href="/grupe/"+id +"/forum";
            },
            exitGroup(grupa){
                axios
                    .post("/grupe/exitGrupa",grupa)
                    .then(response=>window.location.reload())
            },
            deleteGroup(grupa){
                axios
                    .post("/grupe/deleteGroup",grupa)
                    .then(response=>window.location.reload())
            },
            getLoggedInUser(){
                 axios
                    .get("/recenzije/createRecenzija/getCurrentUser")
                    .then(response => (this.currentUser = response.data))
            },

        },
        created(){
               this.initialization();
        }
    })
</script>
</body>

</html>