<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="ISO-8859-1">
    <title>GameEx</title>

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">

</head>

<body>
<!-- create navigation bar ( header) -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" th:href="@{/}">GameEx</a>
        </div>
        <div id="navbar" lass="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/admin/}"> Admin</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li sec:authorize="isAuthenticated()"><a th:href="@{/gameindex}">Games</a></li>
            </ul>
            <!--            dodano-->
            <ul class="nav navbar-nav">
                <li sec:authorize="!isAuthenticated()"><a th:href="@{/gameindex}">Games</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li sec:authorize="isAuthenticated()"><a th:href="@{/userslist}">Game Renters</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li sec:authorize="!isAuthenticated()"><a th:href="@{/userslist}">Game Renters</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li sec:authorize="isAuthenticated()"><a th:href="@{/ad/}">Ad</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li sec:authorize="isAuthenticated()"><a th:href="@{/recenzija}">Player Reviews</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li sec:authorize="isAuthenticated()"><a th:href="@{/grupe}">Grupe</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li sec:authorize="!isAuthenticated()"><a th:href="@{/grupe}">Grupe</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li sec:authorize="!isAuthenticated()"><a th:href="@{/login}">Login</a></li>
            </ul>
        </div>
    </div>
</nav>

<br><br>
<br><br>

<div class="container" id="main">

    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>Id</th>
            <th>Description</th>
            <th>Location</th>
            <th>Date</th>
            <th>Time</th>
            <th>Game</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="ad in ads">
            <td>{{ ad.ad_id }}</td>
            <td>{{ ad.description }}</td>
            <td>
                <button sec:authorize="isAuthenticated()" v-on:click="adLocation(ad.ad_id)">See Location</button>
            </td>
            <td>{{ ad.date }}</td>
            <td>{{ad.time}}</td>
            <td>{{ ad.game.name }}</td>
            <td><button sec:authorize="hasRole('ROLE_ADMIN')" v-on:click="deleteAd(ad)">Delete Ad</button></td>
        </tr>
        </tbody>
    </table>
    <button v-on:click="CreateAd()">Create New Ad</button>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<!-- Actual Vue.js script -->
<script>
    var app = new Vue({
        el: '#main',
        data() {
            return {
                ads: null
            }
        },
        mounted(){
            axios
                .get("/ad/getAds")
                .then(response => (this.ads = response.data))
        },
        methods : {
            adLocation: function(id) {
                window.location.href = '/ad/adLocation/'+ id;
            },
             CreateAd(){
                    window.location.href="/ad/createAd";
             },
             deleteAd(ad){
                    axios
                        .post("/ad/deleteAd",ad)
                        .then(response => window.location.reload())


             },

        }
    })
</script>
</body>