<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="ISO-8859-1">
    <title>GameEx</title>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="//unpkg.com/vue2-leaflet"></script>

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">

    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />


</head>

<body>
<!-- create navigation bar ( header) -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" th:href="@{/}">GameEx</a>
        </div>
        <div id="navbar" lass="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/admin/}"> Admin</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li sec:authorize="isAuthenticated()"><a th:href="@{/gameindex}">Games</a></li>
            </ul>
            <!--            dodano-->
            <ul class="nav navbar-nav">
                <li sec:authorize="!isAuthenticated()"><a th:href="@{/gameindex}">Games</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li sec:authorize="isAuthenticated()"><a th:href="@{/userslist}">Game Renters</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li sec:authorize="!isAuthenticated()"><a th:href="@{/userslist}">Game Renters</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li sec:authorize="isAuthenticated()"><a th:href="@{/ad/}">Ad</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li sec:authorize="isAuthenticated()"><a th:href="@{/recenzija}">Player Reviews</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li sec:authorize="isAuthenticated()"><a th:href="@{/grupe}">Grupe</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li sec:authorize="!isAuthenticated()"><a th:href="@{/grupe}">Grupe</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li sec:authorize="!isAuthenticated()"><a th:href="@{/login}">Login</a></li>
            </ul>
        </div>
    </div>
</nav>

<br><br>
<br><br>
<div class="container" id="ad">
    <div>
        Description:
        <br>
        <textarea v-model="ad.description"></textarea>

    </div>
    <br>
    <div>
        <input type="date" v-model="ad.date" />
        <div>
            Game:
            <select name="Games" class="form-control" v-model="ad.game">
                <option v-for="game in games" :value="game">
                    {{game.name}}
                </option>
            </select>
            Pick a time to play:
            <input type="time" id="appt" name="appt" v-model="ad.time" required>
        </div>
    </div>
    <button onclick="setLocation()">Pick a location</button>
    <button id="rm" style="display:none;" onclick="removeLocation()">Remove Location</button>
    <button v-on:click="submitAd()">Create</button>
    <button v-on:click="backToStart()">Back</button>

</div>

<div id="map" style="display:none; min-height: 100vh"></div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<!-- Actual Vue.js script -->
<script>
    var app = new Vue({
        el: '#ad',
        data() {
            return {
                ad: null,
                games: null,
                map: null,
                locationLatLng: { lat: "", lng: ""}
            }
        },
        methods : {
               initialization(){
                    this.getNewAd();
                    this.getGames();
                    this.getUser();
               },
               location: function(latlng) {
               console.log(latlng);
                    this.locationLatLng = latlng;
               },
               getGames(){
                    axios
                        .get("/ad/getGames")
                        .then(response => (this.games = response.data))
               },
               getUser(){
                      axios
                        .get("/ad/getUser")
                        .then(response=>(this.ad.user=response.data))
               },
               getNewAd(){
                    axios
                        .get("/ad/getEmptyAd")
                        .then(response => (this.ad = response.data))
               },
               submitAd(){

                    if (this.ad.description == null || this.ad.description == "") {
                        alert("Please enter ad description.");
                    } else if (this.ad.date == null || this.ad.date == "") {
                        alert("Please pick a date.");
                    } else if (this.ad.game == null) {
                        alert("Please pick a game.");
                    } else {
                        axios
                            .post("/ad/createad", this.ad, {params : this.locationLatLng})
                            .then(response=> window.location.href="/ad/")
                    }
               },
               backToStart(){
                    window.location.href ="/ad/";
               }


        },
        created(){
               this.initialization();

        }
    })

      var map = null;
    var marker = null;
     var l = { lat: "", lng: ""};
    var popup = null;
    var circle = null;
    var popupLocation = null;

    function onMapClick(e) {
        if (circle !== null) {
            map.removeLayer(circle);
        }
        if (popup !== null) {
            map.removeLayer(popup);
        }

        if (marker !== null) {
            map.removeLayer(marker);
        }


        marker = L.marker(e.latlng).addTo(map);

        app.location(e.latlng);

        var popupLocation = new L.LatLng(app.locationLatLng.lat,
                                            app.locationLatLng.lng);

        popup = L.popup().setContent("Click <b>Create</b> above if this is the location <br> where you want to play selected game.");
        popup.setLatLng(popupLocation);
        map.addLayer(popup);
    }

    function setMyLocation() {
    if (circle !== null) {
            map.removeLayer(circle);
        }
    if (popup !== null) {
            map.removeLayer(popup);
        }
    if (marker !== null) {
            map.removeLayer(marker);
        }

        map.locate({setView: true, watch: false})
                .on('locationfound', function(e){
                    marker = L.marker(e.latlng).addTo(map);

        app.location(e.latlng);


        popup = L.popup().setContent("You are here.");
        popup.setLatLng([app.locationLatLng.lat,
                                            app.locationLatLng.lng]);
        map.addLayer(popup);

                })
                .on('locationerror', function(e){
                    console.log(e);
                    alert("Location access denied.");

                });

    }

    function removeLocation() {
    if (circle !== null) {
            map.removeLayer(circle);
        }
    if (popup !== null) {
            map.removeLayer(popup);
        }
    if (marker !== null) {
            map.removeLayer(marker);
        }

        app.location({ lat: "", lng: ""});
    }


    function setLocation() {
        var x = document.getElementById("map");
        var y = document.getElementById("rm");
        if(x.style.display === "none") {
            y.style.display = "block";
            x.style.display = "block";
            if(map === null){
                var ZAGREB = [45.81121315074273, 15.978412628173828];
                map = L.map("map");
                var tile_url = 'http://{s}.tile.osm.org/{z}/{x}/{y}.png';
                var layer = L.tileLayer(tile_url, {
                    attribution: 'OSM'
                });
            map.addLayer(layer);
            map.setView(ZAGREB, 14);

            map.locate({setView: true, watch: false})
                .on('locationfound', function(e){
                    marker = L.marker(e.latlng).addTo(map);

        app.location(e.latlng);


        popup = L.popup().setContent("Click somewhere else on the map <br> if you don't want to play at your current location.");
        popup.setLatLng([app.locationLatLng.lat,
                                            app.locationLatLng.lng]);
        map.addLayer(popup);
                })
                .on('locationerror', function(e){
                    console.log(e);
                    alert("Location access denied.");

                });
            }

        map.on('click', onMapClick);
        L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png').addTo(map);

        } else {
            x.style.display = "none";
            y.style.display = "none";
        }
    }

</script>
</body>