<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="ISO-8859-1">
    <title>GameEx</title>

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">

</head>

<body>
<!-- create navigation bar ( header) -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" th:href="@{/}">GameEx</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/admin/}"> Admin</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li sec:authorize="isAuthenticated()"><a th:href="@{/gameindex}">Games</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li sec:authorize="isAuthenticated()"><a th:href="@{/ad/}">Ad</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li sec:authorize="isAuthenticated()"><a th:href="@{/recenzija}">Player Reviews</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li sec:authorize="isAuthenticated()"><a th:href="@{/grupe}">Grupe</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li sec:authorize="!isAuthenticated()"><a th:href="@{/grupe}">Grupe</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li sec:authorize="!isAuthenticated()"><a th:href="@{/login}">Login</a></li>
            </ul>
        </div>
    </div>
</nav>

<br><br>
<br><br>
<div class="container" id="main">

    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>User</th>
            <th>Message</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="message in messages">
            <td v-if="message.user!=null">{{ message.user.email }}</td>
            <td v-if="message.user==null">left group</td>
            <td>{{ message.text }}</td>
            <td>
                <button sec:authorize="hasRole('ROLE_MODERATOR')" v-on:click="editMessage(message.id)">Edit</button>
            </td>
        </tr>
        </tbody>
    </table>
    <textarea v-model="newMessage.text">

    </textarea>
    <button v-on:click="sendMessage()">Send Message</button>
    <button v-on:click="backToInGrupa()">Back</button>

</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<!-- Actual Vue.js script -->
<script>
    var app = new Vue({
        el: '#main',
        data() {
            return {
                newMessage: null,
                messages: null,
                currentUrl:"",
                splitUrl:[]

            }
        },
        methods : {
            initialization() {
                this.currentUrl=window.location.pathname;
                this.splitUrl=this.currentUrl.split('/');
                this.getMessages();
                this.getEmptyMessage();
            },
            getMessages(){
                      axios
                        .get(this.currentUrl+"/getMessages/")
                        .then(response => (this.messages = response.data))
            },
            getEmptyMessage(){
                      axios
                        .get(this.currentUrl+"/getEmptyMessage/")
                        .then(response=> (this.newMessage=response.data))
            },
            sendMessage(){
                     axios
                        .post(this.currentUrl+"/PostMessage/", this.newMessage)
                        .then(this.refreshPage())

            },
            refreshPage(){
                location.reload();
            },
            backToInGrupa(){
                 window.location.href ="/grupe/inGrupa";
            },


        },
        created() {
             this.initialization();
        }


    })
</script>
</body>

</html>